# Rename this file to .gitignore in GitHub if desired.

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
